body{
  background: #f3f3f4;
}
.container{
  display: flex;
  .side{
    width: 15%;
    min-width: 220px;
    height: calc(100vh);
    background: #2f4050;
    color: #eee;
  }
  .main{
    flex:1;
    height: calc(100vh);
    .content{
      margin: 20px;
      padding: 20px;
      height: calc(100% - 210px);
      overflow:auto;
      background: #fff;
      .inner{
        overflow-y:auto;
      }
    }
  }
  
  .ant-menu{
    background:#2f4050;
    color: #a7b1c2;
    font-weight: 600;
    border-right: 0;
  }
  .ant-menu .ant-menu-item-selected{
    background: #293846;
    color: #fff;
  }
  .ant-menu-item:active, .ant-menu-submenu-title:active{
    background: #293846;
    color: #fff;
  }
}